@{
    ViewData["Title"] = "Home Page";
}

@using TheWaterProject.Infrastructure
@model Project;


<div class="card m-3">
    <h3 class="card-header">
        @Model.ProjectName
        <span class="badge rounded-pill bg-primary text-white float-end">
            <small>@Model.ProjectImpact served</small>
        </span>
    </h3>
    <div class="card-body m-1">


        <ul class="list-group list-group-flush">
            <li class="list-group-item">Program: @Model.ProgramName</li>
            <li class="list-group-item">Project Type: @Model.ProjectType</li>
            <li class="list-group-item">Installation Date: @Model.ProjectInstallation</li>
            <li class="list-group-item">Phase: @Model.ProjectPhase</li>
        </ul>
        <form id=@Model.ProjectId method="post" asp-page="/cart">
            <input type="hidden" asp-for="@Model.ProjectId"/>
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
            <button type="submit" class="btn btn-outline-success float-end">Donate</button>
        </form>
    </div>
</div>